@import "mapas.less";

@Breakpointmobile: ~ "(max-width:767px)";
@Breakpointtablet: ~ "(min-width:767px) and (max-width:1023px)";

.width-100() {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: #fonts[fontePrincipal];
}


body {
    background-color: #colors[backdroundColorBody];
}
.container {
    max-width: 1024px;
    .width-100();
    margin: 0 auto;
}

li {
    list-style: none;
}

header {
    background-color: #colors[backgroundcolorHeader];
    position: sticky;
    top: 0;
    left: 0;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        
        .menu {
            display: flex;
            
            li {
                margin-left: 24px;
                font-weight: bold;
            }
            
            li a {
                color: #colors[TextColor];
                text-decoration: none;
            }
        }
    }
}

section {
    padding: 56px 0;
    
    .products {
        font-size: 16px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        .width-100();
        
        
        &-item{
            display: block;
            
            img {
                width: 100%;
                border-radius: 16px;
                display: block;
                margin: 0 auto;
            }  
        }
        
        &-button {
            display: block;
            background-color: #colors[CorPrincipalButton];
            color: #colors[CorTextBButtonn];
            text-align: center;
            padding: 8px 0;
            border-radius: 8px;
            text-decoration: none;
            margin-top: 8px;
            
            &:hover {
                background-color: #colors[CorSecundariaButton];
            }
        }
    }

    @media @Breakpointmobile {

        .container{
            h2 {
                text-align: center;
                font-size: 32px;
            }
        }

        .products {
            display: block;
    
            &-item {
                margin-bottom: 32px;
            }

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    @media @Breakpointtablet {
        .container {
            max-width: 80%;
        }
        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
}


